<footer class="container-fluid footermain py-sm-5 py-3">
    <div class="row">
        <div class="col-xl-2 col-12">
            <div class="aboutimage pb-2 pb-xl-0">
                <a href="index.html" class="flogo d-inline-block">
                    <img class="w-100 h-100  pb-xl-0" src="./assets/image/Logo/logo.svg" alt="footerlogo">
                </a> 
            </div>
        </div>
        <div class="col-lg-4 col-12 col-sm-6 col-xl-2">
            <div class="useful-links">
                <div class="footerHeading">Quick Links</div>
                <ul class="list list-unstyled">
                    <li class="itemelist"><a class="text-gray" href="./index.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>Home</a></li>
                    <li class="itemelist"><a class="text-gray" href="./aboutus.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>About Us</a></li>
                    <li class="itemelist"><a class="text-gray" href="./indiatour.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>India Tour</a></li>
                    <li class="itemelist"><a class="text-gray" href="./blog.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>Blog</a></li>
                    <li class="itemelist"><a class="text-gray" href="./contactUs.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-12 col-sm-6 col-xl-3">
            <div class="useful-links">
                <div class="footerHeading">Popular Tour Packages</div>
                <ul class="list list-unstyled">
                    <li class="itemelist"><a class="text-gray" href="./golden-triangle-tours.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>Golden Triangle Tours</a></li>
                    <li class="itemelist"><a class="text-gray" href="./rajasthan-tours-packages.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>Rajasthan Tours</a></li>
                    <li class="itemelist"><a class="text-gray" href="./south-india-tours.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>South India Tours</a></li>
                    <li class="itemelist"><a class="text-gray" href="./same-day-tours.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>Same Day Tours</a></li>
                    <li class="itemelist"><a class="text-gray" href="./sunrise-tours.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>Sunrise Tours</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-12 col-sm-6 col-xl-2">
            <div class="useful-links">
                <div class="footerHeading">Quick Links</div>
                <ul class="list list-unstyled">
                    <li class="itemelist"><a class="text-gray" href="./faqs.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>Faqs</a></li>
                    <li class="itemelist"><a class="text-gray" href="./travel-tips.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>Travel Tips</a></li>
                    <li class="itemelist"><a class="text-gray" href="./privacy-policy.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>Privacy Policy</a></li>
                    <li class="itemelist"><a class="text-gray" href="./terms_conditions.html"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/angle-right.svg" alt="arrow"></span>Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12 col-12 col-sm-6 col-xl-3">
            <div class="useful-links">
                <div class="footerHeading">Contact Details</div>
                <ul class="list list-unstyled contactSide">
                    <li class="text-gray "><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/map.svg" alt="map"></span> <span class="addres d-inline-block">77 B Sector 8 Dwarka Bagdola Village New Delhi</span></li>
                    <li><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/phone.svg" alt="phone"></span><a class="text-gray" href="https://wa.me/7037828377">  +91-7037828377</a>  </li>
                    <li><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/envelope.svg" alt="mail"></span><a class="text-gray" href="mailto:dsahu8634@gmail.com">indiaholidaywithdriver@gmail.com</a></li>
                    <li><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/icon/globe.svg" alt="Eirth"></span><a href="www.indianholidaywithdeiver.com" class="text-gray">www.indianholidaywithdeiver.com</a></li>									
                </ul>
            </div>
        </div> 
        <div class="col-12">
            <div class="logowatsuo">
                <a href="https://wa.me/7037828377"><img class="w-100 h-100" src="./assets/image/icon/whatsap.png" alt="whatsap"></a>
            </div>
        </div>
    </div>
</footer>