<nav class="navbar navbar-expand-lg  NavbarMain" aria-label="Offcanvas navbar large">
    <div class="container">
        <a class="navbar-brand" href="./index.html"><img class="w-100 h-100" src="./assets/image/Logo/logo.svg" alt="logo"></a>
        <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="listLink d-none d-lg-block">
            <ul class="navbar-nav justify-content-end flex-grow-1 gap-2 pe-3">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="./index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="./aboutus.html">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="./indiatour.html">India Tours</a></li>
                <li class="nav-item"><a class="nav-link" href="./blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="./same-day-tours.html">Same Day Tours</a></li>
                <li class="nav-item"><a class="nav-link" href="./golden-triangle-tours.html">Golden Triangle Tours</a></li>
                <li class="nav-item"><a class="nav-link" href="./contactUs.html">Contact Us</a></li>
            </ul>
        </div>

        <div class="offcanvas offcanvas-start  leftSidecanvas d-block d-lg-none" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header bg-dark py-2">
                <div class="offcanvas-title" id="offcanvasNavbar2Label"><img class="w-100 h-100" src="./assets/image/Logo/logo.svg" alt="logo"></div>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 gap-2 pe-3">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="./index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="./aboutus.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="./indiatour.html">India Tours</a></li>
                    <li class="nav-item"><a class="nav-link" href="./blog.html">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="./same-day-tours.html">Same Day Tours</a></li>
                    <li class="nav-item"><a class="nav-link" href="./golden-triangle-tours.html">Golden Triangle Tours</a></li>
                    <li class="nav-item"><a class="nav-link" href="./contactUs.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>