[data-page-name="blogs"] {
    &.blogs {
        & .leftSideContent {
            & .card {
                & .card-body {
                    & .card-image {
                    }
                    & .card-title {
                        font-size: 16px;
                        font-weight: 600;
                        color: $black;
                    }
                    & ul {
                        display: flex;
                        align-items: baseline;
                        flex-wrap: nowrap;
                        white-space: nowrap;
                        overflow-x: auto;
                        margin-bottom: 5px;
                        & li {
                            & a {
                                font-size: 13px;
                                font-weight: 400;
                                color: #5f5f5f;
                                & span {
                                    width: 14px;
                                    height: 14px;
                                    display: inline-table;
                                    align-items: center;
                                    justify-content: center;
                                    & img {
                                    }
                                }
                            }
                            &:last-child {
                                white-space: break-spaces;
                            }
                        }
                    }
                    & .card-text {
                        padding: 8px 0px;
                        font-size: 13px;
                        font-weight: 400;
                        color: #5f5f5f;
                    }
                    & .mainbtn {
                        font-size: 11px;
                    }
                }
            }
            & .paginationSection {
                & .pagination {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & .page-item {
                        color: $theme2;
                        & .page-link {
                            color: $theme2;
                            font-size: 13px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        & .rightSideContent {
            background-color: #f3f3f1;
            position: sticky;
            top: 65px;
            & .form {
                & .form-control {
                    font-size: 13px;
                    &:focus {
                        outline: none;
                        border-color: #ced4da !important;
                    }
                }
                & .serachbtn {
                    position: absolute;
                    & span {
                        width: 17px;
                        background-color: $white;
                    }
                }
            }
            & .card {
                & .card-body {
                    & .headingcard {
                        font-size: 14px;
                        color: $theme1;
                        margin-bottom: 5px;
                    }
                    & .listlink {
                        & li {
                            transition: all 0.3s ease-in-out;
                            margin-bottom: 5px;
                            padding-bottom: 5px;
                            & a {
                                transition: all 0.3s ease-in-out;
                                font-size: 13px;
                                font-weight: 400;

                                & span {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                            &:hover {
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin blogs-mixin-min-sm() {
}

// Medium devices (tablets, 768px and up)
@mixin blogs-mixin-min-md() {
}

// Large devices (desktops, 992px and up)
@mixin blogs-mixin-min-lg() {
}

// X-Large devices (large desktops, 1200px and up)
@mixin blogs-mixin-min-xl() {
}

// XX-Large devices (larger desktops, 1400px and up)
@mixin blogs-mixin-min-xxl() {
}

// X-Small devices (portrait phones, less than 576px)
@mixin blogs-mixin-max-xs() {
    [data-page-name="blogs"] {
        &.blogs {
            & .leftSideContent {
                & .card {
                    & .card-body {
                        & .card-image {
                        }
                        & .card-title {
                            font-size: 13px;
                        }
                        & ul {
                            flex-direction: column;

                            & li {
                                & a {
                                    font-size: 12px;
                                    & span {
                                        & img {
                                        }
                                    }
                                }
                                &:last-child {
                                }
                            }
                        }
                        & .card-text {
                            font-size: 12px;
                        }
                        & .mainbtn {
                            font-size: 10px;
                        }
                    }
                }
                & .paginationSection {
                    & .pagination {
                        & .page-item {
                            & .page-link {
                            }
                        }
                    }
                }
            }
            & .rightSideContent {
                background-color: transparent;
                padding-bottom: 10px;
                display: none;
                & .form {
                    & .form-control {
                        &:focus {
                        }
                    }
                    & .serachbtn {
                        & span {
                        }
                    }
                }
                & .card {
                    & .card-body {
                        & .headingcard {
                        }
                        & .listlink {
                            & li {
                                & a {
                                    & span {
                                    }
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@mixin blogs-mixin-max-sm() {
    [data-page-name="blogs"] {
        &.blogs {
            & .leftSideContent {
                & .card {
                    & .card-body {
                        & .card-image {
                        }
                        & .card-title {
                            font-size: 13px;
                        }
                        & ul {
                            display: none;
                            & li {
                                & a {
                                    font-size: 12px;
                                    & span {
                                        & img {
                                        }
                                    }
                                }
                                &:last-child {
                                }
                            }
                        }
                        & .card-text {
                            font-size: 12px;
                        }
                        & .mainbtn {
                            font-size: 10px;
                        }
                    }
                }
                & .paginationSection {
                    & .pagination {
                        & .page-item {
                            & .page-link {
                            }
                        }
                    }
                }
            }
            & .rightSideContent {
                background-color: transparent;
                padding-bottom: 10px;
                & .form {
                    & .form-control {
                        &:focus {
                        }
                    }
                    & .serachbtn {
                        & span {
                        }
                    }
                }
                & .card {
                    & .card-body {
                        & .headingcard {
                        }
                        & .listlink {
                            & li {
                                & a {
                                    & span {
                                    }
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@mixin blogs-mixin-max-md() {
    [data-page-name="blogs"] {
        &.blogs {
            & .leftSideContent {
                & .card {
                    & .card-body {
                        & .card-image {
                        }
                        & .card-title {
                            font-size: 13px;
                        }
                        & ul {
                            flex-direction: column;

                            & li {
                                & a {
                                    font-size: 12px;
                                    & span {
                                        & img {
                                        }
                                    }
                                }
                                &:last-child {
                                }
                            }
                        }
                        & .card-text {
                            font-size: 12px;
                        }
                        & .mainbtn {
                            font-size: 10px;
                        }
                    }
                }
                & .paginationSection {
                    & .pagination {
                        & .page-item {
                            & .page-link {
                            }
                        }
                    }
                }
            }
            & .rightSideContent {
                background-color: transparent;
                padding-bottom: 10px;
                & .form {
                    & .form-control {
                        &:focus {
                        }
                    }
                    & .serachbtn {
                        & span {
                        }
                    }
                }
                & .card {
                    & .card-body {
                        & .headingcard {
                        }
                        & .listlink {
                            & li {
                                & a {
                                    & span {
                                    }
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@mixin blogs-mixin-max-lg() {
    [data-page-name="blogs"] {
        &.blogs {
            & .leftSideContent {
                & .card {
                    & .card-body {
                        & .card-image {
                        }
                        & .card-title {
                        }
                        & ul {
                            flex-direction: column;

                            & li {
                                & a {
                                    & span {
                                        & img {
                                        }
                                    }
                                }
                                &:last-child {
                                }
                            }
                        }
                        & .card-text {
                        }
                        & .mainbtn {
                        }
                    }
                }
                & .paginationSection {
                    & .pagination {
                        & .page-item {
                            & .page-link {
                            }
                        }
                    }
                }
            }
            & .rightSideContent {
                background-color: transparent;
                & .form {
                    & .form-control {
                        &:focus {
                        }
                    }
                    & .serachbtn {
                        & span {
                        }
                    }
                }
                & .card {
                    & .card-body {
                        & .headingcard {
                        }
                        & .listlink {
                            & li {
                                & a {
                                    & span {
                                    }
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// X-Large devices (large desktops, less than 1400px)
@mixin blogs-mixin-max-xl() {
}
// ---------------------------------------------------------------India Tour ---------------------------------------------------------
[data-page-name="indiatour"] {
    &.indiatour {
        & .leftSideContent {
            & .card {
                position: relative;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                & .card-image {
                    & img {
                        width: 100%;
                        height: auto;
                        transition: transform 0.3s;
                    }
                }
                & .card-body {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -50px;
                    background: rgb(0 0 0 / 21%);
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    transition: all 0.3s ease-in-out;
                    z-index: 2;

                    & .card-title {
                        font-size: 15px;
                        font-weight: 600;
                        color: $white;
                    }
                }
                &:hover {
                    & .card-body {
                        bottom: 0;
                    }
                    &::before {
                        opacity: 1;
                    }
                    & .card-image {
                        & img {
                            transform: scale(1.1);
                        }
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.4);
                    opacity: 0;
                    transition: opacity 0.3s;
                    z-index: 1;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin indiatour-mixin-min-sm() {
}

// Medium devices (tablets, 768px and up)
@mixin indiatour-mixin-min-md() {
}

// Large devices (desktops, 992px and up)
@mixin indiatour-mixin-min-lg() {
}

// X-Large devices (large desktops, 1200px and up)
@mixin indiatour-mixin-min-xl() {
}

// XX-Large devices (larger desktops, 1400px and up)
@mixin indiatour-mixin-min-xxl() {
}

// X-Small devices (portrait phones, less than 576px)
@mixin indiatour-mixin-max-xs() {
}

// Small devices (landscape phones, less than 768px)
@mixin indiatour-mixin-max-sm() {
}

// Medium devices (tablets, less than 992px)
@mixin indiatour-mixin-max-md() {
}

// Large devices (desktops, less than 1200px)
@mixin indiatour-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin indiatour-mixin-max-xl() {}