.mainbtn{
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    border: 1.5px solid $theme1;
    color: $white !important;
    &:hover{
        color: $theme1 !important;
        background: $white !important;
        border-color: $theme1;
    }
    & span{
        width: 20px;
        height: 20px;
    }
}

// Small devices (landscape phones, 576px and up)
@mixin mainbtn-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin mainbtn-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin mainbtn-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin mainbtn-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin mainbtn-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin mainbtn-mixin-max-xs() {
    .mainbtn{
        font-size: 13px;
        &:hover{}
    }
}

// Small devices (landscape phones, less than 768px)
@mixin mainbtn-mixin-max-sm() {
    .mainbtn{
        font-size: 13px;
        &:hover{}
    }
}

// Medium devices (tablets, less than 992px)
@mixin mainbtn-mixin-max-md() {
    .mainbtn{
        font-size: 14px;
        &:hover{}
    }
}

// Large devices (desktops, less than 1200px)
@mixin mainbtn-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin mainbtn-mixin-max-xl() {}


